body {
    width:1024px;
    margin:0 auto;
    padding:40px;
}

.headerLeft {
    color: #FFFFFF;
    background-color: #000000;
    width: 160px;
    height: 160px;
    margin-right:40px;
    float: left;
    text-align:center;
}

    .headerLeft h1 {
        font-size: 16px;
        margin: 0 10px 0 45px;
    }

    .headerLeft h2 {
        font-size: 14px;
    }

.headerRight {
    padding-top:40px;
    vertical-align:middle;
    height:160px;
}

.headerRight h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
    .headerRight h2 {
        font-size:12px;
        color:grey;
    }
