#about .secondColumn {
    padding: 0 45px 0 56px;
    width: 210px;
}

#about .thirdColumn {
    width: 235px;
}

#about .forthColumn {
    padding-left: 20px;
    width: 233px;
}

#about .aboutSubTitle {
    margin-bottom: 40px;
}

#about .address {
    margin: 0 0 -20px;
}



