#about .center {
    margin-bottom: 127px;
}

#about .firstColumn {
    float: left;
}

#about .secondColumn {
    float: left;
    width: 237px;
    padding-left: 45px;
    color: #525252;
    font-size: 12px;
    line-height: 136%;
}

#about .secondColumn p {
     margin-bottom: 22px;
     line-height: 140%;
}

#about .thirdColumn {
     float: left;
     width: 233px;
     margin-left: 20px;
     color: #525252;
     font-size: 12px;
}

#about .thirdColumn p {
      margin-bottom: 26px;
      line-height: 160%;
}

#about .aboutSubTitle {
     margin-bottom: 40px;
     color: #000000;
     font-size: 12px;
}

#about .aboutSubTitle2 {
     margin: 50px 0 18px;
     color: #000000;
     font-size: 12px;
}

#books .h1 {
    font-size: 20px;
    color: #000000;
}

#books .h2 {
    font-size: 11px;
    color: #7F7F7F;
}

#books .center {
    margin-bottom: 100px;
}

#books .firstColumn {
    float: left;
    width: 234px;
    padding-right: 24px;
}

#books .bookTitle {
    color: #525252;
    font-size: 18px;
    margin-top: 40px;
}

#books .secondColumn {
    float: left;
    width: 242px;
    padding-right: 26px;
}

#books .bookTitle2 {
    color: #8B7F7F;
    font-size: 11px;
    margin: 10px 0 46px;
}

#books .bookTitle2 span {
     display: block;
     margin-top: 6px;
}

#books .ta {
    color: #525252;
    font-size: 12px;
    width: 238px;
    height: 198px;
    line-height: 136%;
}

#books .thirdColumn {
    float: left;
    width: 238px;
}

#books .thirdColumn .author {
     margin: 2px 0;
}

#books .summary {
    font-size: 12px;
    color: #525252;
    margin-bottom: 36px;
}

#books .bookName {
    margin-top: 50px;
}

#books .buy {
    float: right;
    background-color: #000;
    display: block;
    width: 75px;
    height: 17px;
    line-height: 17px;
    padding-left: 10px;
    margin-top: 25px;
    text-decoration: none;
    color: white;
}

#books .buy span {
     margin: 0 0 0 20px;
}

#contact .center {
    margin-bottom: 120px;
}

#contact .emailTitle {
    font-size: 13px;
    color: #000000;
    width: 100%;
    text-align: center;
}

#contact .email {
    color: #7F7F7F;
    font-size: 14px;
    display: block;
    width: 100%;
    text-align: center;
}

#contact .firstColumn {
    width: 176px;
    float: left;
    padding-top: 97px;
    margin-right: 80px;
    color: #525252;
    font-size: 12px;
    font-family: 宋体;
    line-height: 150%;
}

#contact .firstColumn .p1 {
    margin-bottom: 20px;
}

#contact .secondColumn {
    width: 233px;
    float: left;
    color: #666666;
    font-size: 12px;
    line-height: 136%;
}

#contact .secondColumn .p1 {
    margin-bottom: 20px;
}

#contact .thirdColumn {
    float: left;
    width: 234px;
    margin-left: 20px;
    color: #666666;
    font-size: 12px;
    line-height: 136%;
}

#contact .contact {
    background-color: rgb(219, 214, 214);
    width: 234px;
    height: 74px;
    line-height: 74px;
    margin-top: 62px;
    text-align: center;
    font-size: 19px;
    color: #000000;
    margin-bottom: 30px;
}

#home .right {
    margin-bottom: 45px;
}

#home .firstColumn {
    width: 348px;
    float: left;
}

#home .secondColumn {
    width: 234px;
    float: left;
    padding-left: 150px;
}

#home .information {
    color: #000;
    font-size: 20px;
    margin: 90px 0 56px;
}

#home .information span {
        color: #CCCCCC;
        font-size: 24px;
        display: block;
        margin: 3px 0;
}

#home .begin {
      color: #000;
      font-size: 13px;
      margin-bottom: 107px;
}

#home .begin span {
        color: #525252;
        font-size: 12px;
        display: block;
        margin: 3px 0;
}

#home .welcome {
    color: #000;
    font-size: 12px;
    margin: 90px 0 56px;
}

#home .welcome span {
        color: #525252;
        font-size: 12px;
        display: block;
        margin: 3px 0;
}

#home .more {
    float: right;
    background-color: #000;
    display: block;
    width: 75px;
    height: 17px;
    line-height: 17px;
    padding-left: 10px;
    margin-top: 132px;
    text-decoration: none;
    color: white;
}
#home .more span{
   margin: 0 0 0 20px;
}

#school .h1 {
    color: black;
    font-size: 20px;
}

#school .h2 {
    font-size: 16px;
    color: #7F7F7F;
    padding: 0px;
}

#school .right {
    width: 850px;
}

#school .header {
    padding-top: 52px;
    padding-left: 52px;
    height: 110px;
}

.center {
    float: left;
    margin-bottom: 127px;
}

#school .firstColumn {
    width: 231px;
    float: left;
    margin-left: 20px;
    margin-top: -18px;
}
#school .first{
	margin-top: 20px;
	width: 200px;
    text-align: center;
}
#school .ri {
    font-size: 13px;
    color: #000000;
}

#school .shu {
    font-size: 13px;
    color: #000000;
}

#school .di {
    color: #525252;
    font-size: 11px;
}

#school .jj {
    width: 200px;
    text-align: center;
}

#school .jiao {
    color: #525252;
    font-size: 15px;
}
#school .second{
	margin-top: 10px;
	width: 200px;
    text-align: center;
}

#school .second1 {
    margin-top: 0px;
}

#school .secondColumn {
    float: left;
    width: 210PX;
    margin-left: 40px;
}

#school .kuang {
    background-color: #CCCCCC;
    width: 150px;
    height: 35px;
	margin-left:15px;
}
 #school_center_size{
    font-size: 12px;
	color:#525252;
    text-align: left;
	margin-right:-10px;
}

.school_center_tr1{
    height: 20px;
    width: 160px;
    margin-left: 15px;
    border-bottom: 1px dashed;
}

.school_center_span1{
    margin-left: 0px;
    margin-right: 60px;
}

#school_center_span2
{
    margin-left: 0px;
    margin-right: 40px;
}

#school_center_span3
{
   margin-left: 0px;
   margin-right: 40px;
}

#school_center_span4
{
    font-size: 11px;
    margin-left: 0px;
    color:#000;
}

#school_center_tr2
{
    height: 30px;
    width: 160px;
    margin-left: 15px;
    border-bottom: 1px dashed;
}
#school .ru {
    color: #000000;
    font-size: 15px;
}

#school .er {
    color: #525252;
    font-size: 15px;
}

#school .ying {
    color: #525252;
    font-size: 10px;
}


#school .thirdColumn {
    width: 200px;
    float: left;
	margin-left: 250px;
    margin-top: -330px;
}

#school .zi {
    color: #525252;
    font-size: 12px;
}

#school .first {
    width: 230px;
    text-align: center;
}

#school .sp {
    color: #000000;
    font-size: 13px;
}

#school .sp1 {
    color: #7F7F7F;
    font-size: 14px;
}

#school .second {
    width: 200px;
    text-align: center;
}

#school .yue {
    color: #000000;
    font-size: 13px;
}

#school .hua {
    color: #7F7F7F;
    font-size: 14px;
}

school .ru {
    background-color: #CCC;
    width: 200px;
    height: 40px;
}

#works .h1 {
    color: #000000;
    font-size: 20px;
}

#works .h2 {
    color: #7F7F7F;
    font-size: 11px;
}

#works .right_header {
    height: 150px;
    margin-top: -10px;
}

#header {
    padding-top: 50px;
}

#works .firstColumn {
    float: left;
    width: 220px;
    margin-top: 15px;
}

#works .secondColumn {
    float: left;
    width: 220px;
    margin-left: 60px;
    margin-top: 15px;
}

#works .thirdColumn {
    width: 210px;
    float: left;
    margin-left: 60px;
    margin-top: 15px;
}

td {
    vertical-align: top;
    text-align: left;
    heigh: 20px;
    width: 50px;
    color: #000000;
    font-size: 12px;
}
